* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 50vw;
    min-height: 100vh;
    margin: auto;
    border: 5px solid black;
    display: flex;
    /* flex-direction: column; */
/*     justify-content: space-around; */
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-evenly;
    column-gap: 20px;
}
.box{
    background-color: violet;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}